



TIGRESS                                                     D. Vinokurov
Internet-Draft                                                  C. Astiz
Intended status: Informational                              A. Pelletier
Expires: 31 July 2023                                          Apple Inc
                                                               B. Lassey
                                                            Alphabet Inc
                                                         27 January 2023


      Transfer Digital Credentials Securely - General Requirements
               draft-tigress-general-requirements-latest

Abstract

   This document describes the use cases necessitating the secure
   transfer of digital credentials, residing in a digital wallet,
   between two devices and defines general assumptions, requirements and
   the scope for possible solutions to this problem.

About This Document

   This note is to be removed before publishing as an RFC.

   The latest revision of this draft can be found at
   https://datatracker.ietf.org/doc/draft-tigress-general-requirements/.
   Status information for this document may be found at
   https://datatracker.ietf.org/doc/draft-tigress-general-requirements/.

   Source for this draft and an issue tracker can be found at
   https://github.com/dimmyvi/tigress-general-requirements.

Status of This Memo

   This Internet-Draft is submitted in full conformance with the
   provisions of BCP 78 and BCP 79.

   Internet-Drafts are working documents of the Internet Engineering
   Task Force (IETF).  Note that other groups may also distribute
   working documents as Internet-Drafts.  The list of current Internet-
   Drafts is at https://datatracker.ietf.org/drafts/current/.

   Internet-Drafts are draft documents valid for a maximum of six months
   and may be updated, replaced, or obsoleted by other documents at any
   time.  It is inappropriate to use Internet-Drafts as reference
   material or to cite them other than as "work in progress."

   This Internet-Draft will expire on 31 July 2023.

Copyright Notice

   Copyright (c) 2023 IETF Trust and the persons identified as the
   document authors.  All rights reserved.

   This document is subject to BCP 78 and the IETF Trust's Legal
   Provisions Relating to IETF Documents (https://trustee.ietf.org/
   license-info) in effect on the date of publication of this document.
   Please review these documents carefully, as they describe your rights
   and restrictions with respect to this document.  Code Components
   extracted from this document must include Revised BSD License text as
   described in Section 4.e of the Trust Legal Provisions and are
   provided without warranty as described in the Revised BSD License.

Table of Contents

   1.  Introduction
   2.  General Setting
   3.  Conventions and Definitions
   4.  Use Cases
   5.  Assumptions
   6.  Requirements
   7.  Security Considerations
   8.  IANA Considerations
   9.  Normative References
   Acknowledgments
   Authors' Addresses

1.  Introduction

   In this document we are identifying a problem of transferring digital
   credentials (e.g. a digital car key, a digital key a a hotel room or
   a digital key to a private house) from a wallet on one device
   (smartphone) to another, particularly, if these devices belong to two
   different platform (e.g. one is iOS, another - Android).  Today,
   there is no widely accepted way of transferring digital credentials
   securely between two digital wallets independent of hardware and
   software manufacturer.  This document describes the problem space and
   the requirements for the solution the working group creates.

   A Working Group, called Tigress has been established to find a
   solution to a given problem.  Within the WG an initial solution was
   presented (https://datatracker.ietf.org/doc/draft-art-tigress).  The
   community decided to generalize the requirements to the solution and
   consider alternative solutions within the WG.

   This document presents the general requirements to possible solutions
   and specifies certain privacy requirements in order to maintain a
   high level of user privacy.

2.  General Setting

   When sharing digital secure credentials, there are several actors
   involved.  This document will focus on sharing information between
   two digital wallets, directly or through an intermediary server.

   Digital credentials provide an access to property owned and operated
   by 3-rd party companies, such as hotel or residential building
   owners.  The companies that are providing the digital credential for
   consumption by a digital wallet are the Provisioning Partners.
   Provisioning Partner require to have control over digital credential
   issuance and life time management.  Each digital wallet has a
   preexisting trust relationship between itself and the Provisioning
   Partner.

   The interface between the devices and the Provisioning Partner can be
   proprietary or a part of published specifications.  The sender wallet
   obtains provisioning information from the provisioning partner, then
   shares it to the recipient using a solution defined in Tigress WG.
   The recipient then takes that data and sends it to the Provisioning
   Partner to redeem a credential for consumption in a digital wallet.

   For some credential types the Provisioning Partner who issues new
   credentials is actually the sender wallet.  In that scenario the
   receiver will generate a new key material at the request of the
   sender, and then communicate with the sender over Tigress to have its
   key material signed by the sender.

3.  Conventions and Definitions

   The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT",
   "SHOULD", "SHOULD NOT", "RECOMMENDED", "NOT RECOMMENDED", "MAY", and
   "OPTIONAL" in this document are to be interpreted as described in
   BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all
   capitals, as shown here.

   General terms:

   *  Credential information - data used to authenticate the user with
      an access point.

   *  Provisioning information - data transferred from Sender to
      Receiver device that is both necessary and sufficient for the
      Receiver to request a new credential from Provisioning Partner to
      provision it to the Receiver device.

   *  Provisioning - A process of adding a new credential to the device.

   *  Provisioning Partner - an entity which facilitates Credential
      Information lifecycle on a device.  Lifecycle may include
      provisioning of credential, credential termination, credential
      update.

   *  Sender (device) - a device initiating a transfer of Provisioning
      Information to a Receiver that can provision this credential.

   *  Receiver (device) - a device that receives Provisioning
      Information and uses it to provision a new credential.

   *  Intermediary (server) - an optionl intermediary server that
      provides a standardized and platform-independent way of
      transferring provisioning information between Sender and Receiver
      devices.

   *  Digital Wallet - A device, service, and/or software that
      faciliates transactions either online or in-person via a
      technology like NFC.  Digital Wallet's typically support payments,
      drivers licenses, loyalty cards, access credentials and more.

4.  Use Cases

   *  Let's say Ben owns a vehicle that supports digital car keys.  Ben
      would like to let Ryan borrow the car for the weekend.  Ryan and
      Ben are using two different mobile phones with different operating
      systems.  In order for Ben to share his digital car key to Ryan
      for a weekend, he must transfer some data to the receiver device.
      Receiver device generates new key material and return it to the
      sender to sign and return back to the receiver.  At this point,
      the receiver now has a token that will allow them to provision
      their new key with the car.

   *  Bob booked a room at a hotel for the weekend, but will be arriving
      late at night.  Alice, his partner, comes to the hotel first, so
      Bob wants to share his digital room key with Alice.  Bob and Alice
      are using two different mobile phones with different operating
      systems.  In order for Bob to share his digital room key to Alice
      for a weekend, he must transfer some data to her device.  The data
      structure shared between the two participants is proprietary to
      the given hotel chain (or Provisioning Partner).  This data
      transfer is a one-time, unidirectional transfer from Bob's device
      to Alice's.  Once Alice receives this data, she can provision a
      new key to her digital wallet, making a call to Provisioning
      Partner to receive new credential information.

5.  Assumptions

   *  Original credential information (with cryptographic key material)
      MUST NOT be sent or shared.  Instead, sender SHALL be transferring
      its approval token for Receiver to acquire new credential
      information.  The reason for that is that the Provisioning Partner
      needs to control who the new credential is issued to, control new
      credential life cycle and manage the credentials on sender and
      receiver devices independently (e.g. receiver device may have just
      a subset of the sender's device access rights or receiver's device
      credential may be revoked independently of the sender's device
      credential).

   *  Provisioning Partner SHALL NOT allow for two users to use the same
      credential / cryptographic keys - this requirenet is a direct
      result of the previous assumption.  Credentials on sender's and
      receiver's devices shall be different to be managed independently.
      If the same cryptographic key is copied and provisioned on a new
      device, in case of key revocation both devices will lose access.

   *  Security: Communication between Sender / Receiver and Provisioning
      Partner SHOULD be trusted.  Since new credential key matherial is
      generated by Provisioning Partner the channel between the device
      and Provisioning Provider shall be secure and trusted by both
      parties.

   *  In case if an intermediary server used during the credential
      transfer from sender device to receiver device, the choice of
      intermediary SHALL be defined by the application initiating the
      credential transfer.  The wallet or another application that
      manages credentials on sender device shall make the decision
      regarding the channel to be used to sent the Provisioning
      Information.

   *  Sender and Receiver SHALL both be able to manage the shared
      credential at any point by communicating with the Provisioning
      Partner.

   *  Any device OEM with a digital credential implementation adherent
      to Tigress solution SHALL be able to receive shared provisioning
      information, whether or not they can originate provisioning
      information themselves.  We defined the digital credential
      transfer as platform-independant, therefore, if the receiver
      device can recognize the data format of the received Provisioning
      Information, it should be able to provision the new credential to
      the Digital Wallet.

   *  Provisioning a credential on the Receiver MAY require multiple
      round trips.  In case the Provisioning Partner is not used for the
      certan type of credentials, both sender and receiver devices are
      used to generate new credentials' cryptographic key matherial and
      sign on the new cryptographic key for it to be trusted by the
      access point.

6.  Requirements

7.  Security Considerations

   TODO Security

8.  IANA Considerations

   This document has no IANA actions.

9.  Normative References

   [RFC2119]  Bradner, S., "Key words for use in RFCs to Indicate
              Requirement Levels", BCP 14, RFC 2119,
              DOI 10.17487/RFC2119, March 1997,
              <https://www.rfc-editor.org/rfc/rfc2119>.

   [RFC8174]  Leiba, B., "Ambiguity of Uppercase vs Lowercase in RFC
              2119 Key Words", BCP 14, RFC 8174, DOI 10.17487/RFC8174,
              May 2017, <https://www.rfc-editor.org/rfc/rfc8174>.

Acknowledgments

   TODO acknowledge.

Authors' Addresses

   Dmitry Vinokurov
   Apple Inc
   Email: dvinokurov@apple.com


   Casey Astiz
   Apple Inc
   Email: castiz@apple.com


   Alex Pelletier
   Apple Inc
   Email: a_pelletier@apple.com


   Brad Lassey
   Alphabet Inc
   Email: lassey@google.com
